<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register-Hawk</title>
</head>
<body>
    <div class="register-view">
        <form action="." method="POST">
            <label for="FirstName">FirstName</label>
            <input type="text"><br>
            <label for="LastName">LastName</label>
            <input type="text"><br>
            <label for="Username">Username</label>
            <input type="text"><br>
            <label for="email">E-mail</label>
            <input type="text"><br>
            <label for="Password">Password</label>
            <input type="password1"><br>
            <label for="confirm-password">confirm password</label>
            <input type="password2"><br>
            <input type="button" value="submit">
        </form>
    </div>
</body>
</html>